In [1]:
import csv
import matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
from sklearn import metrics
from sklearn.cross_validation import cross_val_score

/Library/Frameworks/Python.framework/Versions/3.5/lib/python3.5/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
def read_files():
    global hero, test, train, sample
    hero = pd.read_csv('Data/MatchDetail.csv')
    test = pd.read_csv('Data/MatchOverviewTest.csv')
    train = pd.read_csv('Data/MatchOverviewTraining.csv')
    sample = pd.read_csv('Data/sampleSubmission.csv')
    train.index = train.match_id.tolist()
    del train['match_id']

def find_nones(arr):
    ret = []
    for i in range(1, 114):
        if not any([arr.hero_1[j] == i for j in range(len(arr.hero_1))]):
            ret.append(i)
    return ret
#FIX THE PROBLEM WITH THE ANDS
"""Set the second five's columns to 113+themselves
   Make a new DataFrame saying whether or not the hero is in the game, using the
   hero id as the column titles.
   Add two more columns to this DataFrame computing the difference of the
   average of the gold & xp for each team at the end of the game.
[1 for i in range(10) if train[i+1]]
"""

"Set the second five's columns to 113+themselves\n   Make a new DataFrame saying whether or not the hero is in the game, using the\n   hero id as the column titles.\n   Add two more columns to this DataFrame computing the difference of the\n   average of the gold & xp for each team at the end of the game.\n[1 for i in range(10) if train[i+1]]\n"

In [3]:
read_files()
print(len(hero),len(test),len(train),len(sample))
train.head(4)

202319 13873 10000 13873

,hero_1,hero_2,hero_3,hero_4,hero_5,hero_6,hero_7,hero_8,hero_9,hero_10,first_5_won
2488245920,34,83,29,102,12,88,107,10,70,53,True
2488233366,102,63,34,100,60,1,38,48,93,33,False
2488231318,7,112,8,64,71,1,11,41,102,92,True
2488216163,74,102,9,29,14,105,86,65,55,111,True

In [4]:
train[(24<train)&(train<108)] -= 1
train[(108 < train) & (train < 114)] -= 2
train.loc[:,'hero_6':'hero_10'] += 111
train.head(3)

,hero_1,hero_2,hero_3,hero_4,hero_5,hero_6,hero_7,hero_8,hero_9,hero_10,first_5_won
2488245920,33,82,28,101,12,198,217,121,180,163,True
2488233366,101,62,33,99,59,112,148,158,203,143,False
2488231318,7,110,8,63,70,112,122,151,212,202,True

In [5]:
length = len(train)
X = pd.DataFrame({i:[0 for _ in range(length)] for i in range(1, 223)}, index = train.index)
for index, row in train.iterrows():
    for hero_id in row.tolist()[:10]:
        X.loc[index, hero_id] = 1

In [6]:
X.head()

,1,2,3,4,5,6,7,8,9,10,...,213,214,215,216,217,218,219,220,221,222
2488245920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2488233366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2488231318,0,0,0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
2488216163,0,0,0,0,0,0,0,0,1,0,...,0,0,1,0,0,0,0,1,0,0
2488215113,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [60]:
length = len(train)
X = pd.DataFrame({i:[0 for _ in range(length)] for i in range(1, 223)}, index = train.index)
for index, row in train.iterrows():
    for hero_id in row.tolist()[:10]:
        X.loc[index, hero_id] = 1
y = train.first_5_won.astype('int')

In [61]:
model = LogisticRegression()
model = model.fit(X, y)
model.score(X, y)
model.score

0.68430000000000002

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)
model2 = LogisticRegression()
model2 = model.fit(X_train, y_train)
model2.score(X_test, y_test)

0.65966666666666662